In [1]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [2]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [20]:
df = pd.read_csv(r'C:\Users\omaro\Downloads\data-engineering-zoomcamp-main\data-engineering-zoomcamp-main\green_tripdata_2019-09.csv.gz')
df.shape

C:\Users\omaro\AppData\Local\Temp\ipykernel_27608\753741710.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'C:\Users\omaro\Downloads\data-engineering-zoomcamp-main\data-engineering-zoomcamp-main\green_tripdata_2019-09.csv.gz')

(449063, 20)

In [21]:
t_start = time()

df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

t_end = time()
print('took %.3f second' % (t_end - t_start))

took 60.487 second

In [33]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-02-08 10:16:59--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.208.136, 52.216.212.120, 52.216.210.232, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.208.136|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi+_zone_lookup.csv'

     0K .......... ..                                         100%  145M=0s

2024-02-08 10:16:59 (145 MB/s) - 'taxi+_zone_lookup.csv' saved [12322/12322]

In [34]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [35]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [38]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265